@import "../../../scss/variables";

.congrats {
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrapper {
        background-color: $light-grey;
        height: 85.1rem;
        width: 137.4rem;
        display: flex;
        justify-content: center;

        &__text {
            padding-top: 10.8rem;
        }
    }

    & h2 {
        font-size: $header-text;
        color: $primary;
        text-align: center;
    }

    & p {
        color: $black;
        font-weight: $bold;
        font-size: $hero-p;
    }

    &__title {
        padding-top: 7.4rem;
        padding-bottom: 5rem;
        text-align: center;
    }

    &__form {
        padding-left: 18rem;
    }

    &__redirect {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        padding-top: 20rem;
    }

    & h4 {
        font-size: $hero-heading;
    }
}
