@import "../../../scss/variables";

.congrats {
    height: 85.1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrapper {
        background-color: $light-grey;

        &__text {
            padding-top: 10.8rem;
            padding-bottom: 24.5rem;
        }
    }

    & h2 {
        font-size: $header-text;
        color: $primary;
        text-align: center;

        padding-left: 38rem;
        padding-right: 35rem;
    }

    & p {
        color: $black;
        font-weight: $bold;
        font-size: $hero-p;
    }

    &__title {
        padding-top: 7.4rem;
        padding-bottom: 5rem;
        text-align: center;
    }

    &__form {
        padding-left: 55rem;
    }

    & h4 {
        font-size: $hero-p;
        background-color: $white;
    }
}
