// Imports

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

// Font families

$open: "Open Sans";

// Font sizes

$header-text: 4.8rem;
$hero-heading: 2.8rem;
$hero-p: 2rem;

$label-text: 1.6rem;

$footer-text: 3.6rem;

$button-text: 1.6rem;

$error-text: 1.4rem;

// Font weights

$regular: 400;
$semibold: 600;
$bold: 700;
