@import "../../../scss//variables";

.hero {
    display: flex;
    justify-content: center;

    &__wrapper {
        background-color: $light-grey;
        height: 85.1rem;
        width: 137.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 16.5rem;
    }

    &__images {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding-top: 17.4rem;
    }
}
